<h1>Affichage des jeux vidéos</h1>
<hr>

<input type="radio" name="typeFilterprix" [value]="0" [(ngModel)]="typeFilterPrix"> Du + récent
<input type="radio" name="typeFilterPrix" [value]="1" [(ngModel)]="typeFilterPrix"> Croissant
<input type="radio" name="typeFilterprix" [value]="2" [(ngModel)]="typeFilterPrix"> Décroissant

<hr><br/>
<div class="container">
<div class="row" >
  <section class="col-sm-10" style="background-color: slategrey">

  <div *ngFor="let jv of jvs|filterprixJv:typeFilterPrix ; index as i;">
    <div class="row top-buffer"  style=" background-color:blanchedalmond">
      <div class="col-sm-3" style ="background-color: burlywood;padding:25px;text-align:center;">

        <img  src = "{{jv.urlImage}}"  height="250" width="175"/>
      </div>
      <div class="col-sm-7" style ="padding:10px;">
          <strong>Nom :</strong> {{jv.nom}} <br/>
          <strong>Editeur :</strong>  {{jv.editeur}}<br/>
          <strong>Types :</strong> {{jv.types}}<br/>
          <strong>Developpeur :</strong> {{jv.developpeur}} <br/>
          <strong>Sortie :</strong> {{jv.sortie}}<br/>
          <strong>Genres :</strong> {{jv.genres}}<br/>
          <strong>Theme :</strong>  {{jv.theme}}<br/>
          <strong>Prix :</strong>  {{jv.prix}}€<br/>
          <strong>Description :</strong>  {{jv.description}}<br/>
          <strong>Stock :</strong>  {{jv.stock}}<br/>
      </div>
      <div class="col-sm-2" >
        <input type="submit" value="Ajouter au panier !" (click)="addPanier(jv)"  >
      </div>
    </div>
  </div>
  </section>
  <nav class="col-sm-2" style="background-color : beige;padding:20px;">
    <H1>Panier</H1><br>
    Nombres d'articles : {{nombrePanier}}<br/>
    Sous-total : {{prixPanier}}€<br/><br/>
    <input type ="submit" [routerLink]="['/panierpage']" name="voirPanier" value="Voir panier" >
  </nav>
</div>
</div>
