<h1>Créer un Membre</h1>

<form #formulaire="ngForm" (submit)="createMembre()">
  Username : <input type="text" name="username" [(ngModel)]="username" required > <br/>
  Password : <input type="text" name="password" [(ngModel)]="password" required><br/>
  Nom : <input type="text" name="nom" [(ngModel)]="nom" required><br/>
  Prénom : <input type="text" name="prenom" [(ngModel)]="prenom" required><br/>
  Date de naissance : <input type="text" name="dateDeNaissance" [(ngModel)]="dateDeNaissance" required><br/>
  Email : <input type="text" name="email" [(ngModel)]="email" required><br/>
  Téléphone : <input type="text" name="tel" [(ngModel)]="tel" required><br/>
  Localité : <input type="text" name="localite" [(ngModel)]="localite" required><br/>
  Code postal : <input type="number" name="cp" step="1" [(ngModel)]="cp" required><br/>
  Adresse : <input type="text" name="adresse" [(ngModel)]="adresse" required><br/>

  <input type="submit" value="Créer le membre !" [disabled]="!formulaire.form.valid">

</form>
